[user]
	email = louismarvel@example.com
	name = louismarvel
[safe]
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
[credential]
	helper = store --file ~/.git-credentials
