name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.0'
      - name: Fix Android and Build
        run: |
          flutter pub get
          flutter create . --platforms android
          sed -i 's/ext.kotlin_version = .*/ext.kotlin_version = "1.9.10"/' android/build.gradle
          flutter build apk --release --no-tree-shake-icons
      - name: Upload APK
        uses: actions/upload-artifact
