name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.0'

      - name: Clean and Get Dependencies
        run: |
          flutter clean
          flutter pub get

      - name: Build APK (Auto-Fix)
        run: flutter build apk --release --no-tree-shake-icons
        
      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: StarChat-Love-APK
          path: build/app/outputs/flutter-apk/app-release.apk
