name: STARCHAT-CLEAN-BASE-2026
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: StarChat-Clean-APK
          path: build/app/outputs/flutter-apk/app-release.apk
